body {
  background-color:#EEEEEE;
}

form {
  margin-bottom:10px;
}
.crawl-spinner {
  display: none;
  height: 15px;
}
.container {
  margin-top:30px;
}

.center {
  max-width: 400px;
  margin:0 auto;
}