@(message: String)

@main("What's the Title?!") {
  <div class="container">
    <div class="panel panel-default center">
      <div class="panel-body">
        <h1>@message</h1>
        <form id="crawl">
          <input name="crawl-url" type="text" value="google.com">
          <input name="submit-crawl" type="submit" value="Get Title">
          <img class="crawl-spinner" src="@routes.Assets.at("images/spinner.gif")" />
        </form>
        <div class="alert" id="crawled-title"></div>
      </div>
    </div>
  </div>
}
